workflows/75LuP8uvdbaoncct.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-19T07:49:43.783Z",
  "id": "75LuP8uvdbaoncct",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "OCR",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://PaddlePaddle-PP-OCRv5-Online-Demo.hf.space/api/predict",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "[\"={{ $node[\"Set\"].json[\"image_path\"] }}\",null,\"false\",\"false\",\"false\",\"min\",736,0.3,0.6,1.5,0]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        0
      ],
      "id": "8b167ee4-9cd1-4b08-be3c-53716701b955",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -304,
        80
      ],
      "id": "0e2c7ab0-6b03-44f8-a80a-25b1ff624efd",
      "name": "Webhook",
      "webhookId": "1c48ad04-6a30-4e96-8684-caa51c5ccca7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "28b748dd-bdc2-44bb-88a7-04b37080b94f",
              "leftValue": "=={{ $json.events[0].message.type }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        80
      ],
      "id": "3d6c5b60-f63f-4daa-b65a-3b934414de1c",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://api-data.line.me/v2/bot/message/{{ $json.events[0].message.id }}/content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AlaeI3rhCXsNjvpId/OCherfCv7cakAVoMRqDtTeNcsTIjEm4wMROeWuae9tittYNeNQHQhO9RTB218hNcqNVhwzYqF+si1aabauaTXDsvByXKx0qPFaDUxdcHfvW2RR5PPnHJRW8lDUMdtB32uPzQdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "=[   \"={{ $node[\"HTTP Request\"].binary[\"line_image_data\"] }}\", // 這是從 Line 下載的二進制數據   null,   \"false\",   \"false\",   \"false\",   \"min\",   736,   0.3,   0.6,   1.5,   0 ]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        80
      ],
      "id": "9560fc1f-bf12-482a-a76d-de6e62626b25",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-19T07:49:43.783Z",
      "updatedAt": "2025-10-19T07:49:43.783Z",
      "role": "workflow:owner",
      "workflowId": "75LuP8uvdbaoncct",
      "projectId": "SOgRqgJfaND0d4bJ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-24T07:13:17.014Z",
  "versionId": "9eb977c4-bbef-4661-a098-89a1fba44b12"
}