workflows/QyqkD6mg4HWfqsiA.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OCR Output": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Image AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Image AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Image AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Image AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Parse OCR Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-19T07:49:43.783Z",
  "id": "75LuP8uvdbaoncct",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "OCR",
  "nodes": [
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        144,
        0
      ],
      "id": "093fd49f-dd09-487d-9a2f-81c5a7982e9d",
      "name": "When chat message received",
      "webhookId": "b67d23af-8984-4d76-8c91-6aa7356244a1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        0
      ],
      "id": "761f5bad-d0a7-44d7-b3e9-4627fd138007",
      "name": "HTTP Request3",
      "credentials": {
        "httpQueryAuth": {
          "id": "STyubl0nA6m9Gpfa",
          "name": "Query Auth account"
        },
        "httpHeaderAuth": {
          "id": "XhkvUemEast99W3j",
          "name": "Header Auth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Debug: Log the entire input to see structure\nconst allInputs = $input.all();\nconsole.log('All inputs:', JSON.stringify(allInputs, null, 2));\n\nconst ocrResponse = allInputs[0].json;\nconsole.log('OCR Response:', JSON.stringify(ocrResponse, null, 2));\n\nreturn [{\n  json: {\n    debug: ocrResponse,\n    fullInput: allInputs\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        0
      ],
      "id": "52bbbea4-904d-4f79-bc21-51d74634a6b9",
      "name": "Parse OCR Output"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1272,
        224
      ],
      "id": "537db146-48c7-4a73-bc12-41a97bae6463",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "BhRebVZ9DRCV4K9x",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.prompt }}",
        "options": {
          "systemMessage": "發票OCR解析，表格：日期|地點|重量|金額。修正錯字，簡潔準確。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1264,
        0
      ],
      "id": "9f308a84-6216-4f7c-9916-b81f444d67f7",
      "name": "Image AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Get the AI response from Image AI Agent\nconst aiResponse = $input.first().json.output;\n\n// Simply return it - the chat will display it automatically\nreturn {\n  json: {\n    output: aiResponse\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        0
      ],
      "id": "dae82e82-2b8f-488a-be14-b57d102124f9",
      "name": "Code",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33043313-d11a-41a5-ba01-00adc5fd1904",
              "name": "prompt",
              "value": "=你是發票處理專家AI\nOCR發票：{{ $json.debug.extracted_text.map(item => item.text).join(' ') }}\n整理成：日期|地點|重量|金額\n修正園→圓，<0.6標⚠️\n收到的OCR資料包含手寫中文發票。任務：\n1. 從OCR結果找出：送貨日期、送貨地點（起終點）、載運重量、金額\n2. 修正常見錯誤：\n   - \"园\" → \"圓\" \n   - 數字混淆（0/O, 1/I等）\n3. 低信心度(<0.6)項目標註⚠️\n\n輸出格式（表格）：\n\n送貨日期 | 送貨地點 | 載運重量 | 金額\n8/6 | 岡山 全聯 | 13.5板 | 124540\n",
              "type": "string"
            },
            {
              "id": "1580c4d6-d020-4755-bf6e-b6cabad7a078",
              "name": "",
              "value": "={{ $('When chat message received').item.json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        0
      ],
      "id": "1138dd6b-6dfa-4ca2-8052-afe602956150",
      "name": "Set"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1400,
        224
      ],
      "id": "a8870f45-181e-4a4e-8942-e899239cb21f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gionie-my-fastapi-paddleocr.hf.space/ocr",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        0
      ],
      "id": "5d2b8f8b-d780-4cc9-b716-3eaa9379e239",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/ocr_image.jpg",
        "dataPropertyName": "=data0",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        368,
        0
      ],
      "id": "2a148d31-600d-4ee6-a4d8-f0c9c44d87e9",
      "name": "Read/Write Files from Disk"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-19T07:49:43.783Z",
      "updatedAt": "2025-10-19T07:49:43.783Z",
      "role": "workflow:owner",
      "workflowId": "75LuP8uvdbaoncct",
      "projectId": "SOgRqgJfaND0d4bJ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-05T03:22:48.044Z",
  "versionId": "46dd07b0-2675-4674-aa0c-cf73cc96ba7e"
}