workflows/QyqkD6mg4HWfqsiA.json
{
  "active": true,
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        []
      ]
    },
    "OpenWeatherMap": {
      "ai_tool": [
        [
          {
            "node": "Text AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Text AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Text AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Translate a language in DeepL": {
      "ai_tool": [
        [
          {
            "node": "Text AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "Text AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Parse OCR Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OCR Output": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Image AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Image AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brave": {
      "ai_tool": [
        [
          {
            "node": "Text AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Image AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Text AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SearXNG": {
      "ai_tool": [
        [
          {
            "node": "Text AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "大茂": {
      "main": [
        [
          {
            "node": "大茂1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "大茂",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-20T10:29:20.515Z",
  "id": "OlmUnWHBwAwUhvbX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Online",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -832,
        -208
      ],
      "id": "d85367e1-1ace-4f6f-a7c2-18bbb319922c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "BhRebVZ9DRCV4K9x",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.events[0].source.userId }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -1280,
        -104
      ],
      "id": "a1e76dca-fbc9-4f40-a02a-07375cdc968b",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "wlYktFXxQB8FnYY3",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "cityName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', ``, 'string') }}",
        "language": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Language', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        -576,
        -208
      ],
      "id": "20d26101-7b0b-4692-aaed-f039299649f8",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "WtdLhGwtkgEHTzcf",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        -448,
        -208
      ],
      "id": "975ada8d-5246-489a-bce3-320e27f72549",
      "name": "Wikipedia"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -320,
        -208
      ],
      "id": "00280217-9a59-450a-b007-9a04e0d28512",
      "name": "Calculator"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "translateTo": "ZH-HANT",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.deepLTool",
      "typeVersion": 1,
      "position": [
        -192,
        -208
      ],
      "id": "15f68ae9-fa28-431c-af32-906065ca31fd",
      "name": "Translate a language in DeepL",
      "credentials": {
        "deepLApi": {
          "id": "k5VPmGahKTUTGmak",
          "name": "DeepL account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "callback",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1280,
        -580
      ],
      "id": "5681d773-5db4-4059-aec3-4e107bad7b89",
      "name": "Webhook",
      "webhookId": "21c6171d-a9e9-4161-b787-1738d6d9153c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"replyToken\":\"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n    \"messages\":[\n        {\n            \"type\":\"text\",\n            \"text\": {{ JSON.stringify($json.output) }}\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        -432
      ],
      "id": "92dc270f-0ed8-4bd9-b906-71aeeb6d11b8",
      "name": "HTTP Request",
      "credentials": {
        "httpQueryAuth": {
          "id": "STyubl0nA6m9Gpfa",
          "name": "Query Auth account"
        },
        "httpHeaderAuth": {
          "id": "XhkvUemEast99W3j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "includeTime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Include_Current_Time', ``, 'boolean') }}",
        "outputFieldName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Output_Field_Name', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -64,
        -208
      ],
      "id": "ad9e7241-ea17-4c83-8164-458dcc351e0c",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "url": "=https://api-data.line.me/v2/bot/message/{{ $json.body.events[0].message.id }}/content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AlaeI3rhCXsNjvpId/OCherfCv7cakAVoMRqDtTeNcsTIjEm4wMROeWuae9tittYNeNQHQhO9RTB218hNcqNVhwzYqF+si1aabauaTXDsvByXKx0qPFaDUxdcHfvW2RR5PPnHJRW8lDUMdtB32uPzQdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "line_image_data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -328,
        -728
      ],
      "id": "d7ee5948-b2b8-41e3-b48b-34136c5100aa",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gionie-my-fastapi-paddleocr.hf.space/ocr",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "line_image_data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        -728
      ],
      "id": "57d88564-d5b8-4cc3-8a51-0d942187f79f",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1872,
        -832
      ],
      "id": "3a06ef5e-cfd6-43d3-9542-3023dca85d8b",
      "name": "HTTP Request3",
      "credentials": {
        "httpQueryAuth": {
          "id": "STyubl0nA6m9Gpfa",
          "name": "Query Auth account"
        },
        "httpHeaderAuth": {
          "id": "XhkvUemEast99W3j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "42ed21c2-7a41-4b66-a8e0-84daef8d7640",
              "leftValue": "={{ $json.body.events[0].message.type }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        -580
      ],
      "id": "d543af01-e996-47b7-8c85-37b13f62e042",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Get the OCR response\nconst ocrResponse = $input.all()[0].json;\n\n// Extract text from detections array\nconst detections = ocrResponse.detections || [];\nconst texts = detections.map(d => d.text);\nconst combinedText = texts.join(' ');\n\n// Get replyToken from webhook\nconst webhookData = $node[\"Webhook\"].json;\nconst replyToken = webhookData.body.events[0].replyToken;\n\n// Include both structured and combined text\nreturn [{\n  json: {\n    fullText: combinedText,\n    detections: detections,\n    replyToken: replyToken\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -728
      ],
      "id": "4c691ed5-0fbb-47d2-9539-493b05eccb63",
      "name": "Parse OCR Output"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1304,
        -504
      ],
      "id": "ae48ce65-7067-4fee-9037-ab517f3c5910",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "BhRebVZ9DRCV4K9x",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.events[0].message.text }}",
        "options": {
          "systemMessage": "繁體中文AI助手。**永遠中文回答**。\n\n工具順序：\n- 天氣→OpenWeatherMap (使用英文城市名)\n- 計算→Calculator\n- 翻譯→DeepL\n- 所有你無法回答的問題資料查詢：\n  1. Wikipedia（快速事實）\n  2. SearXNG（其餘一般搜尋）\n  3. Brave（需要2個答案來交叉比對時、當其他失敗時）\n\n搜尋策略：\n- 如果 Wikipedia 失敗 → 立即嘗試 SearXNG\n- 如果 SearXNG 也失敗 → 使用 Brave Search\n- 搜尋關鍵字要簡潔（1-6 個詞）\n- 盡量使用英文搜尋以獲得更好結果\n- 盡量得到使用兩種以上答案交叉比對真實性\n\n重要規則：\n1. 不確定的問題→**立即使用搜尋工具**，禁止建議用戶自己查\n2. 禁止重複用戶的問題\n3. 禁止說\"我不知道\"而不搜尋\n4. 回答用中英交叉得到答案\n5. 答案用你本身知識+Wikipedia→SearXNG(再加Brave如有需要)交叉比對確認無誤\n6. 工具失敗時不要停止，嘗試下一個工具\n\n找到資訊後用現有答案交叉比對確認無誤簡潔概括，用繁體中文回答。",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -392,
        -432
      ],
      "id": "39acfd02-520e-4a02-94be-c7a0e52b5657",
      "name": "Text AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.prompt }}",
        "options": {
          "systemMessage": "=你是專業的發票處理AI。職責：\n判斷發票類型（南聯/尚和大茂/尚和成偉）\n根據不同格式解析內容\n轉換成統一格式輸出\n標註任何不確定項目\n回覆格式： 格式類型：[南聯/尚和大茂/尚和成偉] --- 日期|地點|數量|金額"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1296,
        -728
      ],
      "id": "dfc66664-c15c-4816-91c4-8fb4cd5b8721",
      "name": "Image AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json.output;\n// 改成你的 Set 節點實際名稱！檢查節點上方顯示的名字\nconst replyToken = $('Set').first().json.replyToken;\n\nreturn {\n  json: {\n    replyToken: replyToken,\n    messages: [{ type: \"text\", text: aiResponse }]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        -832
      ],
      "id": "12d076c0-936b-4096-a7a0-fcffddcf3439",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "240f85c0-d6e6-43f3-9ebe-e456e43e09bf",
              "name": "prompt",
              "value": "=你是發票處理專家AI。請根據發票格式分類並整理成表格： 格式1 - 南聯： 配送日期|起訖地點|噸數|運費  格式2 - 尚和(大茂)： 送貨日期|送貨地點|載運重量|金額  格式3 - 尚和(成偉)： 送貨日期|送貨地點|載運重量|金額  收到的OCR資料： {{ $json[\"fullText\"] }}  任務：  判斷格式類型 從OCR結果找出對應欄位 修正錯別字 標註低信心度項目(⚠️) 請依照上述格式輸出，並在開頭標明格式類型。",
              "type": "string"
            },
            {
              "id": "36f07311-d43b-4953-ae0d-42c944d2483e",
              "name": "replyToken",
              "value": "={{ $json[\"replyToken\"] }}",
              "type": "string"
            },
            {
              "id": "d0125b28-007d-4ea9-b538-b7f99d5feea8",
              "name": "input_text",
              "value": "={{ $json[\"fullText\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -728
      ],
      "id": "c4f6dd39-a01c-47ef-b9d6-660b4ad9c4e3",
      "name": "Set"
    },
    {
      "parameters": {
        "toolDescription": "Brave Search online tool",
        "url": "https://api.search.brave.com/res/v1/web/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "count",
              "value": "3"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=X-Subscription-Token",
              "value": "=BSAbIjHxTHqAcA4Mz7kEJ-22QINZy7H"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        64,
        -208
      ],
      "id": "4f2aa113-874e-42db-9895-38884b405e7c",
      "name": "Brave",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XhkvUemEast99W3j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.replyToken }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1432,
        -504
      ],
      "id": "8e5a75bc-b7ee-4ea0-8278-fcc22afe4fe4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.events[0].source.userId }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -704,
        -208
      ],
      "id": "57721f3d-4641-409c-985a-add1925a5eb8",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSearXng",
      "typeVersion": 1,
      "position": [
        192,
        -208
      ],
      "id": "80066452-7fac-46a5-9c46-ec5eca1635db",
      "name": "SearXNG",
      "credentials": {
        "searXngApi": {
          "id": "VMYqRADbkXv0ZfDl",
          "name": "SearXNG account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get input with detections\nconst input = $input.all()[0].json;\n\n// Sort detections by vertical position\nconst sortedDetections = input.detections.sort((a, b) => {\n    return a.position.top_left.y - b.position.top_left.y;\n});\n\n// Group texts by line based on y-position\nconst lineThreshold = 10; // pixels\nconst lines = [];\nlet currentLine = [];\nlet lastY = -1;\n\nsortedDetections.forEach(detection => {\n    const y = detection.position.top_left.y;\n    if (lastY === -1 || Math.abs(y - lastY) <= lineThreshold) {\n        currentLine.push(detection);\n    } else {\n        if (currentLine.length > 0) {\n            lines.push(currentLine);\n        }\n        currentLine = [detection];\n    }\n    lastY = y;\n});\nif (currentLine.length > 0) {\n    lines.push(currentLine);\n}\n\n// Sort each line horizontally and extract text\nconst processedText = lines\n    .map(line => line\n        .sort((a, b) => a.position.top_left.x - b.position.top_left.x)\n        .map(d => d.text)\n        .join(' ')\n    )\n    .join('\\n');\n\n// Return both processed text and original data\nreturn {\n    json: {\n        fullText: processedText,\n        structuredText: lines.map(line => ({\n            text: line\n                .sort((a, b) => a.position.top_left.x - b.position.top_left.x)\n                .map(d => d.text)\n                .join(' '),\n            confidence: Math.min(...line.map(d => d.confidence))\n        })),\n        replyToken: input.replyToken\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        -728
      ],
      "id": "c3aeba46-8a6a-4825-a95d-ae452578fcfd",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "大茂",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "da8b5720-f438-44e1-9e65-dd5fdbd04380"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "458ac71d-ec9d-46a5-bc7b-d53f3c92d887",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "成偉",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "50ba403e-5244-4d7c-91d7-716bf17f191f",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "南聯",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1648,
        -640
      ],
      "id": "6b8b0a9b-6118-4b11-95de-f8397386f601",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CODE NODE - 大茂 COMPANY (Template Method)\n// ============================================\n// This code prepares data to be inserted into an Excel template\n// Template should have rows 1-3 formatted with company name, \n// title, and headers. Data will be inserted starting at row 4.\n\n// Get AI agent output\nconst aiOutput = $input.item.json.output || '';\n\n// Parse the table format from AI agent\nfunction parseDamaoInvoice(output) {\n    const lines = output.split('\\n');\n    const dataRows = [];\n    \n    for (let line of lines) {\n        // Only process lines with pipe separators\n        if (!line.includes('|')) continue;\n        \n        // Skip separator lines (---)\n        if (line.includes('---')) continue;\n        \n        // Split by pipe and clean up\n        const columns = line.split('|').map(col => col.trim());\n        \n        // Need at least 4 columns: 日期, 地點, 重量, 金額\n        if (columns.length < 4) continue;\n        \n        const [date, location, weight, amount] = columns;\n        \n        // Skip header row\n        if (date === '送貨日期' || date === '' || !date) continue;\n        \n        // Extract weight value and unit\n        let weightValue = '';\n        let unit = '板';\n        \n        if (weight.includes('坪')) {\n            unit = '坪';\n            weightValue = weight.replace('坪', '').trim();\n        } else if (weight.includes('板')) {\n            weightValue = weight.replace('板', '').trim();\n        } else {\n            // Default case: just number\n            weightValue = weight.trim();\n        }\n        \n        // Clean amount (remove commas, spaces)\n        const cleanAmount = amount.replace(/,/g, '').trim();\n        \n        // Skip if essential data is missing\n        if (!date || !location || !weightValue || !cleanAmount) continue;\n        \n        dataRows.push({\n            送貨日期: date,\n            送貨地點: location,\n            載運重量: parseFloat(weightValue),\n            單位: unit,\n            金額: parseFloat(cleanAmount)\n        });\n    }\n    \n    return dataRows;\n}\n\n// Parse the invoice data\nconst invoiceData = parseDamaoInvoice(aiOutput);\n\n// Calculate total amount (小計)\nconst totalAmount = invoiceData.reduce((sum, row) => {\n    return sum + row.金額;\n}, 0);\n\n// Prepare data for Excel template insertion\n// Format: Array of arrays for easy Excel insertion\nconst tableData = invoiceData.map(row => [\n    row.送貨日期,\n    row.送貨地點,\n    row.載運重量,\n    row.單位,\n    row.金額\n]);\n\n// Add total row\ntableData.push([\n    '',\n    '小計',\n    '',\n    '',\n    totalAmount\n]);\n\n// Return data in format suitable for Excel operations\nreturn [{\n    json: {\n        companyType: '大茂',\n        dataRows: tableData,\n        startRow: 4, // Data starts at row 4 (after headers)\n        totalAmount: totalAmount,\n        recordCount: invoiceData.length\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        -624
      ],
      "id": "6fa55ee3-efe1-4112-b3bc-a5f9edfc51dd",
      "name": "大茂"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "={{ $json.dataRows }}",
        "options": {
          "fileName": "=114{{ $now.format('MM') }}月尚和貨運公司-大茂.xlsx",
          "headerRow": false,
          "sheetName": "=請款明細表"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2320,
        -624
      ],
      "id": "69a204a8-503c-4ee5-a60d-d727e025d5df",
      "name": "大茂1"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "bigdog16888",
          "mode": "list",
          "cachedResultName": "bigdog16888",
          "cachedResultUrl": "https://github.com/bigdog16888"
        },
        "repository": {
          "__rl": true,
          "value": "888",
          "mode": "list",
          "cachedResultName": "888",
          "cachedResultUrl": "https://github.com/bigdog16888/888"
        },
        "filePath": "大茂_template.xlsx",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1872,
        -624
      ],
      "id": "8f9ba03d-7ff1-4ab4-9043-13b705abeb24",
      "name": "Get a file",
      "webhookId": "c3519823-c24d-4dc7-ae9f-e1289a7099c8",
      "credentials": {
        "githubApi": {
          "id": "lwdnJ9dwaBGE6xmR",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-forwarded-for": "147.92.149.169",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "host": "gionie-n8n-free.hf.space",
            "x-amzn-trace-id": "Root=1-691e8693-33273e8d5f8ede4b00e678ee",
            "content-length": "816",
            "x-line-signature": "F9AxoUzBswgXjsw8ndgkXF96nXtB8siD+aW1i6/VSFQ=",
            "content-type": "application/json; charset=utf-8",
            "user-agent": "LineBotWebhook/2.0",
            "x-request-id": "oDUrr2, oDUrr2",
            "x-direct-url": "https://gionie-n8n-free.hf.space/--replicas/8tfs9/webhook/callback"
          },
          "params": {},
          "query": {},
          "body": {
            "destination": "Ua5a2f6a998c71ce952b6621833b460ed",
            "events": [
              {
                "type": "message",
                "message": {
                  "type": "image",
                  "id": "588505985971388693",
                  "quoteToken": "HmXx3O6jy17gZrOH265HXGcCsGgurpHrL0vzPg_S4Oso0YOiebYKZKFJgb6u7Bp7iRRk6miBpPoC7DnHrGjYWZfiI8QRkw9rDOIrsbEn13K-h9ZV8JgTXtqQXk0LtdYmrWqL--Fcp4Sk0Q6OdHcmhQ",
                  "markAsReadToken": "Yhw7hhYywJfh8BgY7-BhTHw3T4rAdUCw4pb9VqrZ3QBIkXPzdIXZIQIzeL__XBqdwgWtkTSTfP8GoC_77s9BbqmHu8Wnnj40WzDW4K6LsXYm8wWUKa6kuN7q7kDxZ8R_dKFvDVjzrtBUqk_-aJ25vEGWkel-dBUtbHnCV-ZOWI4u7-F09ZQffP300qaQlolOLOQDpBdatZg-qN1Avh6CSA",
                  "contentProvider": {
                    "type": "line"
                  }
                },
                "webhookEventId": "01KAFKVAY90GWC9VGWST0FQ35Z",
                "deliveryContext": {
                  "isRedelivery": false
                },
                "timestamp": 1763608210330,
                "source": {
                  "type": "user",
                  "userId": "U0e8f5ec2c86ea8542b4e67cc947c0f20"
                },
                "replyToken": "69deea01cf1849fd993cb92949c195b0",
                "mode": "active"
              }
            ]
          },
          "webhookUrl": "https://Gionie-n8n-free.hf.space/webhook/callback",
          "executionMode": "production"
        }
      }
    ],
    "Image AI Agent": [
      {
        "json": {
          "output": "格式類型：尚和(大茂)\n\n送貨日期 | 送貨地點 | 載運重量 | 金額\n---|---|---|---\n8/26 | 岡山全聯 | 13.5板 | 12450\n8/26 | 梧棲全聯 | 8.5板 | 10450\n8/26 | 岡山 家福 | 1板 | 900\n8/27 | 台中 品瑞 | 0.5板 | 750\n8/27 | 岡山 家福 | 5.5板 | 5250\n8/27 | 屏東 佐英 | 1.5板 | 1450\n8/27 | 嘉義 升誠 | 0.5板 | 700\n8/28 | 秀水 荃發 | 1板 | 1100\n8/28 | 岡山 全聯 | 6.5板 | 6150\n8/28 | 梧棲 全聯 | 6板 | 7200\n8/28 | 岡山 家福 | 8板 | 7200\n8/29 | 岡山 家福 | 4板 | 3600\n8/29 | 岡山 全聯退貨 | 1板 | 900\n8/29 | 屏東 慶豐 | 0.5板 | 650\n8/30 | 岡山 全聯 | 10.5板 | 9750\n8/30 | 梧棲 全聯 | 8.5板 | 10450\n8/30 | 岡山 全聯稱⚠️ | 0.5板 | 750\n8/30 | 岡山 家福 | 1板 | 1900\n9/1 | 岡山 家福 | 4板 | 13600\n9/1 | 9林 金翔豪⚠️ | 1板 | 11100\n9/1 | 岡山 全聯誠⚠️ | 9.5板 | 18850\n9/1 | 岡山全聯寄庫 | 6.5板 | 46150\n9/1 | 岡山家福 | 1板 | 1900"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-20T10:29:20.515Z",
      "updatedAt": "2025-10-20T10:29:20.515Z",
      "role": "workflow:owner",
      "workflowId": "OlmUnWHBwAwUhvbX",
      "projectId": "SOgRqgJfaND0d4bJ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-20T08:29:43.855Z",
  "versionId": "476ed1eb-013e-4173-a592-baef65a883c4"
}